<table class="row">
  <thead>
    <tr>
      <th class="header1">1</th>
      <th class="header2">2</th>
      <th class="header2">3</th>
      <th class="header2">4</th>
      <th class="header2">5</th>
    </tr>
  </thead>
  <tbody>
    <% @sheets.each do |sheet| %>
      <tr>
        <td>
          <%= link_to new_movie_schedule_reservation_path(@movie, @schedule, date: @date, sheet_id: sheet.id) do %>
            <%= sheet.column %>
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>